@charset "UTF-8";

* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: rgba(23, 13, 23, 0.653);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    background-color: white;
    width: 250px;
    height: 545px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.517);

    transform: translate(-50%, -50%);
    transition: width .3s, height .3s;
    -o-transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: rgba(72, 5, 95, 0.2) url(../img/login.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 200px;
}

section#login > div#form {
    padding: 10px;
    display: block;
}

div#form > h1 {
    text-align: center;
    padding: 10px;
}

div#form > p {
    font-size: 1.1em;
}

form > div.campo {
    background-color: #7606b2dd;
    border: 2px solid #7606b2dd;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

div.campo > label {
    display: none;
}

div.campo > span {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    background-color: #aa8db3cc;
    font-size: 1em;
    height: 100%;
    width: calc(100% - 44px);
    border: 0px;
    border-radius: 8px;
    padding: 3px;
    transform: translateY(-14px);
}

div.campo > input:focus-within {
    border: none;
    background-color: white;
}

form > input[type=submit] {
    display: block;
    width: 100%;
    height: 40px;
    border: none;
    font-size: 1.2em;
    border-radius: 5px;
    background-color: #030104cc;
    color: white;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #000000f2;
}

form > a.bt {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: rgba(224, 221, 221, 0.741);
    color: #100913;
    border: 1px solid #250237d6;
    border-radius: 5px;
    text-decoration: none;
}

form > a.bt:hover {
    background-color: #7c16b2c2;
}

form > a.bt > span {
    font-size: 1em;
}